{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'userr/css/bootstrap.min.css' %}">

<!-- <form action="", method="post", style="width: 50%;">
    {% csrf_token %}
    {{ form|crispy }} -->
 
    <!-- {{form.as_p}} -->
    <!-- <a href="{% url 'uevents' %}"><input type="submit" value="register"></a>
</form> -->
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4", method="post">
  
                    {% csrf_token %}
                    {{ form|crispy }}

                    <a href="{% url 'uevents' %}"  ><input class="btn btn-primary btn-lg" style="margin-left:40% " type="submit" value="Register"></a>
                  </form>
                  <p class="mb-0" style="color:black;text-align: center;">you have an account? <a href="{% url 'login' %}" class="text-white-50 fw-bold" style="color:black">Login</a>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>